.contTool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  .logoLeft {
    margin-left: 2rem;
    h1 {
      margin: 0;
      font-family: 'Orbitron', sans-serif;
      background: #5CE1E6;
      background: linear-gradient(#5CE1E6, #FFDE59);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-size: 1rem;
    }
  }
  .loginUsuario {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;

    .bienvenido {
      display: flex;
      align-items: center;
      p {
        color: #5CE1E6;
        margin: 0;
      }
    }
  }
}




