<div class="container-fluid container-form-alumnos ">
  <div class="row">
    <div class="col-md-12 alta-alumno">
      <h1 appTitleEstilo>Alta Alumno</h1>
    </div>
  </div>
  <form [formGroup]="formularioAlumno" >
  <div class="row datos">
    <div class="col-md-12">
      <mat-form-field appearance="fill" >
        <mat-label>Dni Alumno</mat-label>
        <input matInput formControlName="dni">
    </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field appearance="fill" >
        <mat-label>NombreAlumno</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field appearance="fill" >
        <mat-label>Apellido Alumno</mat-label>
        <input matInput formControlName="apellido">
    </mat-form-field>
    </div>
  
  </div>
  <div class="row datos">
    <div class="col-md-12">
      <mat-form-field appearance="fill" class="fill">
          <mat-label >Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="fechaNacimiento" formControlName="fechaNacimiento" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
          <mat-datepicker #fechaNacimiento></mat-datepicker>
      </mat-form-field>
  </div>
  </div>
  <div class="row datos">
    <div class="col-md-12">
      <button mat-raised-button color="primary" type="submit" (click)="guardarAlumno()" [disabled]="formularioAlumno.invalid">Agregar Alumno</button>
  </div>
  </div>
</form>
</div>
