.container-form-alumnos {
  .datos{
    margin-left: 5rem;
  }
  .alta-alumno {
    h1{
      color: white;
      border-bottom: 1px solid white;
      margin-top: 2rem;
      text-align: center;
      font-family: 'Orbitron', sans-serif;
    }

    .btn-formulario{
      button{
        background-color: #5CE1E6;
      }
    }
  }

}
